<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/fbfc6469-bb1a-4e19-bd6a-d150dea9f0e1/resourceGroups/senai-spmed-resources/providers/Microsoft.Web/sites/senai-spmedicalgroup-webapi-murillo</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://senai-spmedicalgroup-webapi-murillo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>4b9c0637-a7cf-4130-9576-5d8e1e3b3ed8</ProjectGuid>
    <publishUrl>ftp://waws-prod-cq1-033.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>senai-spmedicalgroup-webapi-murillo\$senai-spmedicalgroup-webapi-murillo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>